#Reserva form{
    float: left;
    width: 65%;

}

.card{
    float: right;
    margin-right: 20px;
    width: 30%;
}

#extras p{
    font-size: smaller;
    color: blue;
}

#ResumenReserva input{
    background-color: inherit;
    border-color: white;
}

h5{
    text-align: center;
    background-color: skyblue;
}

h4{
    text-align: center;
}





