#Reserva form{
    float: left;
    width: 65%;

}

.card{
    float: right;
    margin-right: 20px;
    width: 30%;
}

#extras p{
    font-size: smaller;
    color: blue;
}

#ResumenReserva input{
    background-color: inherit;
    border-color: white;
}

h5{
    text-align: center;
    background-color: skyblue;
}

h4{
    text-align: center;
}

input { background: transparent no-repeat top right; }



input:not([type=range]):not([type=date]):not([type=submit]):not([type=button]
):not([type=checkbox]):not([type=number]):focus:invalid {
background-image: url('../img/reservas/invalid.png');
}
input:not([type=range]):not([type=date]):not([type=submit]):not([type=button]
):not([type=checkbox]):not([type=number]):focus:valid {
background-image: url('../img/reservas/valid.png');
}





