.container img {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    width:500px;
    height:500px;
    padding: 15px;
}

a{
    background-color: white;
}
a:visited {

    color:red;
}

a:hover {
    color:white;
    background-color: blue;
}

#sp{
    float: left;
}

#it{
    float: right;
}

#jp{
    float: left;
}

#mx{
    float: right;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
