header{
    background-color:#04051c ;

}
h1{
    text-align:center
}
#demo {
    width: 60%;
    
    margin: 0 auto;
}
#imagenCarrusel{
    width: 30%;
    float: left;
}
#ciudadInfo{
    padding-left: 10px;
    width: 70%;
    float:right
}
#itinerario{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    float: left;
}
#incluye{
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid black 5px;
    width: 40%;
    float: right;
}
#botonAnt:hover,#botonSig:hover{
    background: black;
    opacity: 0.1;
    width: 10%;
}

