#sp{
    width: 500px;
    height: 600px;
    float: left;
}
#it{
    width: 500px;
    height: 600px;
    float: left;
}
#jp{
    width: 500px;
    height: 600px;
    float:left;
}
#mx{
    width: 500px;
    height: 600px;
    float:left;
}

a:visited {

    color:red;
}

a:hover {
    color:white;
    background-color: blue;
}







